.header
  %h1 Reference
.container-fluid
  .row
    .col-sm-3.small_box
      %em Ability Scores:
      %br
      %a{href: '#', onclick: 'callApi(1); return false;'} STR 
      %a{href: '#', onclick: 'callApi(2); return false;'} DEX 
      %a{href: '#', onclick: 'callApi(3); return false;'} CON 
      %a{href: '#', onclick: 'callApi(4); return false;'} INT 
      %a{href: '#', onclick: 'callApi(5); return false;'} WIS 
      %a{href: '#', onclick: 'callApi(6); return false;'} CHA
      %br
      #ability
