!!!
%html
  %head
    %title Dragon Binder
  %body
    .header
      %h1 Dragon Binder
    .container
      %div
        %p a place to organize your campaign!
        
      %div
        .signup{ :align => "right" }
          = render 'shared/signup_form'
        }

