!!!
%html
  %head
    %title Dragon Binder
  %body
    .header
      %h1 Dragon Binder
    .container-fluid
      .row
        .col-sm-2#user_display
          %p a place to organize your campaign!
          = render 'shared/signup_form'
           
 
	    	

