.header
  %h1 Users Index
  %div#user_index
    %table
      %tr
        %th User
        %th email
        %th permission
        %th
      - @users.each do |user|
        %tr
          %td= link_to user.screen_name, user
          %td= user.email
          %td= user.permission
          %td= link_to 'edit', edit_user_path(user)
