%em STR
=locals[:character].str
|
%em DEX
=locals[:character].dex
|
%em CON
=locals[:character].con
|
%br
%em WIS
=locals[:character].wis
|
%em INT
=locals[:character].int
|
%em CHA
=locals[:character].cha