.header
  %h1
    DM's Page //
    =@campaign.title

.container-fluid
  .row
    .col-sm-3#user_display
      %em PLAYERS:
      .active_players
        - @campaign.users.each do |user|
          =link_to user.screen_name, user_path(user) 
          %br
      %h5 ADD PLAYER
      = render 'shared/search_player_form'
    .col-sm-3.small_box
      = render 'shared/edit_campaign_name'

