.header
  %h1 
    =@campaign.title
.container-fluid
  =render partial: 'shared/new_character_modal'
  .row
    .col-sm-3
      #user_display
        %em= @campaign.description
        %br
        %em USERS:
        .active_players
          - @campaign.users.each do |user|
            =link_to user.screen_name, user_path(user) 
            |
        -if is_dm?(@campaign)
          %br
          =link_to 'DM Controls', edit_campaign_path(@campaign)
      
      =link_to_character_create(@campaign)

  .row  
    -if @campaign.pcharacters.any?
      =render partial: 'campaigns/character_feed'

    

