/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; 


.header > h1{
  background-color: #E2B6CF;
  font-weight: bold;
  color: #F6EFEE;
  padding: 5px;
}

.sign_up{
  margin: 5px;
}

#index_table{
  margin:10px;
}

#user_display{
  color: #8B728E;
  background-color: #EEFCCE;
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
}

.small_box{
  color: #8B728E;
  background-color: #ADCBE3;
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
}

.feed_item{
  color: #8B728E;
  background-color: #D4D2D5;
  padding: 5px;
  margin-bottom: 5px;
}

.feed_item a{
  color: #EEFCCE;
  font-weight: bold;
}


