/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header > h1{
  background-color: lightgrey;
  color: blue;
  padding: 5px;
}
.wrapper{
      display:grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 10px;
      grid-auto-rows: minmax(auto,auto);
    }
#post_wrapper{
      background-color: #8F9297;
      padding: 10px;
      font-family: courier;
      grid-auto-rows: minmax(auto,auto);
      color: white;
    }
#post_wrapper a{
  color: #B8F01D;
}

#user_display{
  /*max-height: 245px;*/
  background-color: #C1EC96;
}

.wrapper > div:nth-child(odd){
  max-height: 245px;
  background-color: #C1EC96;
  padding: 10px;

}