.header
  %h1
    = @campaign.title
    Calender
.container-fluid
  .row
    = react_component( "Calender/CalenderMain", {appointments: @appointments, campaign_id: @campaign.id})

  -# previously handled by js now handled by react
  -# .row
  -#   .col-sm-6
  -#     %h4 Make New Appointment
  -#     =form_for [@campaign, @appointment], remote: true do |f|
  -#       =f.text_field :title, placeholder: "Title"
  -#       =f.text_field :appt_time, placeholder: "Date mm/dd/yy"
  -#       =f.submit 'Make Appointment'
  -#     %h4 Appointments:
  -#     =render 'appointments'